html, body {
	margin:0;   
	/*background:#000;
	background: url(images/glorybig02.jpg) no-repeat center center fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;*/
	padding-top: 60px;
	padding-bottom: 40px;
}  
